*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    display: flex;
    position: relative;
    height: 10%;
    background: rgb(245, 245, 245);
}

#nav .left{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    /* background-color: red; */
}


.left h1{
    margin-left: 5%;    
}

.left h1 a{
    color: #4857fe;
}


#nav .right{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    /* background-color: rgb(44, 59, 133); */
}

.right h4 a{
    color: #4857fe;
}

.right h4:nth-child(1){
    margin-left: 10%;
}


.right h4:nth-child(2){
    margin-left: 10%;
}

.right h4:nth-child(3){
    margin-left: 10%;
}


/* For converting every link normal text */
.link-to-text{
    text-decoration: none;
    color: black;
}


/* hover effect for every element  */
.on-hover{
    cursor: pointer;
}


.right .profile{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 30%;
    border-radius: 50%;
}

.profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* search bar for meal  */
.searc-bar{
    display: flex;
    position: absolute;
    left: 50%;
    top: 20%;
    height: 10%;
    width: 50%;
    border-radius: 30px;
    align-items: center;
    transform: translate(-50%,-50%);
    justify-content: space-around;
    background-color:rgb(245, 245, 245);
}


#search{
    font-family: serif;
    font-size: 20px;
    outline: none;
    margin-left: 2%;
    border: none;
    height:80%;
    width: 85%;
    padding: 12px 20px;
    border-radius: 30px;
}

.searchbtn{
    display: flex;
    align-items: center;
    height: 80%;
    width: 10%;
    justify-content: center;
    background-color:#4857fe;
    border-radius: 30px;
}

.searchbtn i{
    color: white;
    font-weight: 600;
    font-size: 25px;
}

.dropdown{
    display: none;
    height: 30%;
    width: 41%;
    margin-left: 27%;
    margin-top: 7%;
    border-radius: 0px  0px  20px  20px;
    background-color: rgb(248, 248, 248);
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

