*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #b5c8fd;
}

#nav{
    /* background-color: rgba(229, 230, 232, 0.24); */
    border-bottom: 1px solid #4857fe;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#nav h1{
    font-size: 60px;
    color: #5664ff;
    padding: 20px;
    text-align: center;
}

#nav a{
    color: #4857fe;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10%;
}


#sugg{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* height: 50%; */
    padding: 10px;
    width: 70%;
    border-radius: 10px 10px 10px 10px ;
    background-color: rgb(245, 245, 245);
}

#search{
    height: 40px;
    width: 100%;
    border: none;
    padding: 12px;
    outline: none;
    font-size: 20px;
    color: #4857fe;
    /* margin: 10px; */
    border-radius: 10px 10px 10px 10px ;
}

#suggestionList div{
    height:20%;
    background-color: red;
}

#suggestionList{
    /* display: flex; */
    margin-top: 15px;
    /* height: 80%; */
    width: 95%;
    margin-left: 2%;
    background-color: #fff;
    list-style-type: none;
}

#suggestionList>li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #4857fed9;
}

#suggestionList>li button{
    cursor: pointer;
    height: 30px;
    width: 12%;
    border: none;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(97, 168, 97);
}